body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;  
}

.site-wrapper {  
  min-width: 1250px;

  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  color: #ffffff;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;

  background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:focus,
.btn:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
  outline: none;
}

.btn:focus {
  outline: none;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 270px;
  padding-top: 9px;
}

.main-header.catalog {
  margin-bottom: 7px;
}

.page-header-logo {
  width: 154px;
  height: 64px;
}

.main-nav,
.header-item {
  display: flex;
  justify-content: space-between;
}

.main-nav-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav-item > li {
  margin: 16px 0;
}

.main-menu-list {
  width: 550px;
  margin-left: 10px;

  line-height: 16px;
  font-weight: 700;
}

.main-menu-user {
  justify-content: flex-end;
  width: 360px;
  margin-left: 50px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.main-menu-list,
.main-menu-user,
.catalog-menu {
  list-style: none;
}

.main-menu-list a {
  color: #ffffff;
}

.main-menu-item > a {
  display: block;
  padding: 8px 14px;

  text-decoration: underline;

  border-radius: 16px;
}

.main-menu-item:not(.main-menu-active) > a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.main-menu-item:not(.main-menu-active) > a:focus {
  color: #333333;
  text-decoration: none;

  background-color: #ededed;
}

.main-menu-user button {
  margin-left: 10px;
  padding: 8px 16px;

  font-size: inherit;
  line-height: inherit;

  border: none;
}

button.btn-search {
  width: 32px;
  height: 32px;
  padding: 0;

  border-radius: 50%;
}

button.btn-login-form,
button.btn-basket {
  position: relative;
  padding-left: 45px;

  border-radius: 16px;
}

button.btn-basket {
  padding-right: 35px;
}

button.btn-login-form svg,
button.btn-basket svg {
  position: absolute;
  top: 6.5px;
  left: 16px;

  width: 21px;
  height: 19px;
}

.main-menu-user button:hover g {
  fill: #343434;
}

.catalog-menu,
.box-search,
.box-login-entry,
.basket-products {
  background-color: #f8f7f4;
}

.catalog-menu-item a {
  font-weight: 400;
  color: #323232;
}

.catalog-menu-item:first-child a {
  font-weight: 700;
}

.catalog-menu-item:not(.catalog-menu-active) > a:hover {
  color: #323232;

  background-color: #fbded7;
}

.catalog-menu-item:not(.catalog-menu-active) > a:focus {
  color: #323232;

  background-color: #f6b5a5;
}

.main-menu-active > a,
.catalog-menu-active > a {
  background-color: #d07058;
}

.main-menu-user .btn-search,
.main-menu-user .btn-login-form,
.main-menu-user .btn-basket {
  font-family: inherit;;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu-user .btn-search:hover,
.main-menu-user .btn-login-form:hover,
.main-menu-user .btn-basket:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.main-menu-user .search-field,
.main-menu-login .user-email,
.main-menu-login .user-password {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
}

.main-menu-user .search-field:hover,
.main-menu-login .user-email:hover,
.main-menu-login .user-password:hover {
  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.main-menu-user .search-field:focus,
.main-menu-login .user-email:focus,
.main-menu-login .user-password:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.box-login-entry {
  background-color: #f8f7f4;
}

.main-menu-login .btn-login-entry {
  font-size: 18px;
  line-height: 24px;
}

.help-registration a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.help-registration a:hover,
.help-registration a:focus {
  color: #ffbc9e;
}

.main-menu-basket .full-basket {
  font-weight: 500;
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu-basket .basket-table-cell {
  line-height: 16px;
  color: #323232;
}

.cell-price span {
  color: #999999;
}

.basket-table-cell.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.main-menu-basket .btn-checkout {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.working-hours {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.working-hours li:first-child {
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sliders {
  position: relative;
  margin-bottom: 40px;
}

.slider-item {
  display: none;

  text-align: center;
}

.slider-item-active {
	display: block;
}

//*.slider-item img {
  width: 1045px;
  margin-left: -522.5px;
  margin-top: -392px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
}*//

.slider-item h3 {
  margin: 0;
  padding: 0 220px;
  margin-bottom: 25px;
}

.slider-title {
  margin: 0;
  padding: 0 220px;
  margin-bottom: 25px;
	
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.btn-slider {
  display: inline-block;
  padding: 10px 40px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 31px;
}

.slider-control {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.slider-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.btn-slider-control {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background: none;
  box-sizing: border-box;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.btn-slider-control:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-slider-control:active {
  background-color: #ffffff;
}

.slider-control-active .btn-slider-control{
 background-color: #ffffff;
}

.stock-container  {
  margin-bottom: 40px;
}

.stock-container h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stock-container p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.btn-stock {
  position: absolute;
  bottom: 22px;
  right: 22px;
  padding: 11px 22px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 23px;
}

.stock-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stock-container-item {
  position: relative;
  width: 560px;

  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.stock-container-item:first-of-type {
  background-color: #b41944;
  background-image: url(../img/raspberry-bg.jpg);
}

.stock-container-item:last-of-type {
  background-color: #472817;
  background-image: url(../img/chocolate-bg.jpg);
}

.stock-container-item h3,
.stock-container-item p {
 margin: 16px 25px;
}

.stock-container-item p {
 margin-bottom: 113px;
}


.product {
  margin-bottom: 40px;
}

.hits-list,
.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.hits-item,
.product-item {
  position: relative;

  margin-bottom: 40px;
  width: 267px;
}

.hits-item:hover .btn-hits,
.product-item:hover .btn-product {
  opacity: 1;
}

.hits-item-wrapper,
.product-item-wrapper {
  position: relative;

  min-height: 325px;
  width: 267px;
}

.hits-item-image,
.product-item-image {
  line-height: 0;

  border-radius: 50%;
  overflow: hidden;
}

.hits-item-image img,
.product-item-image img{
 width: 267px;
 height: 267px;
}

.price {
  position: absolute;
  top: 210px;
  left: 0;
}

.hits-list span,
.product-list span {
  line-height: 45px;
  font-weight: 700;
}

.hits-price,
.product-price {
  font-size: 45px;
}

.hits-kilo,
.product-kilo {
  font-size: 30px;
}

.hits-name,
.price-name {
  position: relative;
  z-index: 3;

  margin-top: 15px;
  text-align: center;
}

.hits-name a,
.price-name a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;

  text-align: center;
}

.hits-name a:hover,
.hits-name a:active,
.price-name a:hover,
.price-name a:active {
  color: #ffbc9e;
}

.btn-hits,
.btn-product {
  position: absolute;
  bottom: -57px;
  left: 33px;
  z-index: 2;

  padding: 11px 18px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 23px;
  opacity: 0;
}

.hits-item::before,
.product-item::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.hits-item::after,
.product-item::after {
  content: '';
  position: absolute;
  top: -7px;
  left: -13px;
  z-index: 1;

  width: 293px;
  height: 405px;

  background-color: #f8f7f4;
  opacity: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.hits-item:hover::after,
.product-item:hover::after {
  opacity: 0.2;
}

.about-shop {
  margin-bottom: 40px;
  padding: 25px;

  background-color: #efe5d1;
  background-image: url("../img/wafer.png");
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 15px;
}

.about-shop-headline {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
}

.about-shop-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.about-shop-item {
  position: relative;

  width: 470px;
  margin-top: 20px;
  padding-left: 55px;
}

.about-shop-item::before {
  content: '';

  position: absolute;
  top: -15px;
  left: 0;

  width: 49px;
  height: 49px;

    background-position: 0 0;
  background-repeat: no-repeat;
}

.about-shop-item:nth-child(1)::before {
  background-image: url("../img/icecream.png");
}

.about-shop-item:nth-child(2)::before {
  background-image: url("../img/cow.png");
}

.about-shop-item:nth-child(3)::before {
  background-image: url("../img/leaf.png");
}

.about-shop-item:nth-child(4)::before {
  background-image: url("../img/thermometer.png");
}

.blog {
  margin-bottom: 40px;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  width: 560px;
  box-sizing: border-box;

  border-radius: 12px;
}

.blog-new {
  padding: 25px 20px;

  color: #323232;

  background-color: #ffffff;
  background-position: -50px -227px;
  background-repeat: no-repeat;
  background-image: url("../img/strawberry-bg.jpg");
}

.blog-new h3 {
  margin: 0;
  margin-bottom: 10px;
}

.blog-new-headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-new-link {
  display: inline-block;
  width: 300px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-new-link:hover,
.blog-new-link:active {
  color: #e84d37;
}

.blog-subscription {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-position: center;
  background-repeat: no-repeat;
}

.subscription-wrapper {
  margin: 5px 6px;
  padding: 32px 20px;
  padding-bottom: 35px;

  background-color: #f8f7f4;
  border-radius: 12px;
}

.subscription-wrapper p {
 margin: 0;
 margin-bottom: 33px;
}

.blog-subscription-text {
  color: #5a5a5a;
}

.subscription-form {
  position: relative;
}

.subscription-email {
  width: 368px;
  max-height: 44px;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 10px 15px;

  font-family: inherit;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
  border-radius: 4px;
}

.subscription-email:hover {
  padding: 9px 14px;

  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.subscription-email:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.btn-subscription {
  position: absolute;
  top: 0;
  right: 0;

  padding: 10px 19px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 22px;
}

.contacts {
  margin-bottom: 18px;
}

.contacts-wrapper {
  margin: 0 auto;
  width: 1250px;

  position: relative;
}

.contacts-map {
  position: relative;
}

.contacts-map::before {
  content: '';

  width: 218px;
  height: 142px;

  position: absolute;
  top: 140px;
  left: 280px;
  z-index: 10;

  background-image: url("../img/pin.png");
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-map img {
  width: 100%;
  height: 430px;
}

.contacts-address {
  position: absolute;
  top: 65px;
  right: 52px;
  z-index: 10;

  padding: 30px 25px;
  width: 253px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #ffffff;
  border-radius: 12px;
}

.contacts-address p {
  margin: 0;
  padding: 0;
}

.contacts-address p:first-of-type {
  margin-bottom: 23px;
}

.contacts-address p:last-of-type {
  margin-bottom: 27px;
}

.contacts-address strong,
.contacts-address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn-feedback {
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 24px;
  text-align: center;

  border-radius: 22px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-social {
  margin-top: 19px;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 267px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-item {
  margin-right: 12px;
}

.social {
  display: block;
  min-width: 38px;
  min-height: 38px;
  box-sizing: border-box;

  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8;
}

.social:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social:active {
  opacity: 0.7;
  border-color: rgba(255, 255, 255, 0.7);
}

.social-tw {
  background-image: url("../img/tw.png");
}

.social-inst {
  background-image: url("../img/inst.png");
}

.social-fb {
  background-image: url("../img/fb.png");
}

.social-vk {
  background-image: url("../img/vk.png");
}

.info {
  width: 560px;

  line-height: 18px;
}

.info-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 19px;

  list-style: none;
}

.info-item {
  position: relative;
  padding-bottom: 5px;
}

.info-item:nth-child(odd) {
  padding-left: 129px;
  width: 138px;
}

.info-item:nth-child(even) {
  padding-left: 5px;
}

.info-item:first-child::after {
  content: '';

  position: absolute;
  top: 3px;
  left: 109px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.png");
  background-position: center;
  background-repeat: no-repeat;
}

.info-item a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.info-item a:hover,
.info-item a:active {
  color: #ffbc9e;
}

.info-item:first-child b {
  font-weight: 700;
}

.footer-copyright {
  width: 190px;

  line-height: 16px;
}

.footer-copyright span {
  display: inline-block;

  font-size: 12px;
  line-height: 18px;
}

.footer-copyright > a {
  display: inline-block;
  margin-bottom: 2px;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.modal-feedback {
  position: relative;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 27px;
  width: 477px;
  box-sizing: border-box;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 16px;

  margin: 0;
  padding: 0;
  width: 18px;
  height: 17px;

  background-color: transparent;
  background-image: url("../img/Х-big.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.modal-close:hover {
  -webkit-filter: drop-shadow(0px 0px 1px #000000);
}

.modal-close:active {
  outline: none;
  opacity: 0.7;
  -webkit-filter: drop-shadow(0px 0px 2px #000000);
}

.modal-feedback p {
  margin: 0;
}

.modal-feedback h3 {
  margin: 0;
  margin-bottom: 19px;

  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.modal-feedback .feedback-name,
.modal-feedback .feedback-email,
.modal-feedback .feedback-text {
  box-sizing: border-box;

  padding: 10px 15px;
  font-family: inherit;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
  border-radius: 4px;
}

.modal-feedback .feedback-name,
.modal-feedback .feedback-email {
  width: 267px;
  max-height: 44px;
  margin-bottom: 20px;
}

.modal-feedback .feedback-text {
  width: 428px;
  max-height: 155px;
  margin-bottom: 21px;
}

.modal-feedback .feedback-name:hover,
.modal-feedback .feedback-email:hover,
.modal-feedback .feedback-text:hover {
  padding: 9px 14px;

  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.modal-feedback .feedback-name:focus,
.modal-feedback .feedback-email:focus,
.modal-feedback .feedback-text:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.btn-wrapper {
  text-align: right;
}

.btn-modal-feedback {
  padding: 10px 24px;

  font-size: 18px;
  line-height: 24px;

  border-radius: 22px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-list a {
  color: #ffffff
}

.breadcrumbs-list a {
  text-decoration: underline;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
  color: #ffbc9e;
}

.page-title {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.sort-list {
  color: #ffffff;

  border: none;
  background-color: #9db1a5;
}

.sort-list:hover {
  color: #323232;
}

.product-filter {
  margin-bottom: 40px;
}

.filter-item  {
  display: flex;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-item ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list,
.filter-item label,
.btn-filter {
  font-size: 16px;
  line-height: 16px;
}

.btn-filter {
  font-weight: 500;
  color: #ffffff;

  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  background-color: #a6b7ad;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination {
  margin-bottom: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.pagination-item {
  line-height: 0;
}

.pagination-item a {
  display: inline-block;
  margin-right: 4px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;

  border-radius: 50%;
}

.pagination-item:first-child a,
.pagination-item:last-child a {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow.svg");
}

.pagination-item:last-child a {
  margin-right: 0;
}

.pagination-item:first-child a {
  transform: rotate(180deg);
}

.pagination-item:not(.pagination-active):not(.pagination-disabled):not(.arrow) a:hover {
  background-color: #9db1a5;
}

.pagination-item:not(.pagination-active):not(.pagination-disabled):not(.arrow) a:focus {
  color: #323232;

  background-color: #ffffff;
}


.pagination-disabled {
  opacity: 0.3;
}

.pagination-active a {
  color: #323232;

  background-color: #ffffff;
}
