body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.btn {
  color: #ffffff;
  font-weight: 700;

  text-align: center;
  vertical-align: middle;

  background-image: linear-gradient(to bottom, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 9px;
}

.main-header.catalog {
  margin-bottom: 7px;
}

.page-header-logo {
  width: 154px;
  height: 64px;
}

.main-nav,
.header-item {
  display: flex;
  justify-content: space-between;
}

.main-nav-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav-item > li {
  margin: 16px 0;
}

.main-menu-list {
  width: 550px;
  margin-left: 10px;

  line-height: 16px;
  font-weight: 700;
}

.main-menu-user {
  justify-content: flex-end;
  width: 360px;
  margin-left: 50px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.main-menu-list,
.main-menu-user,
.catalog-menu {
  list-style: none;
}

.main-menu-list a {
  color: #ffffff;
}

.main-menu-item > a {
  display: block;
  padding: 8px 14px;

  text-decoration: underline;

  border-radius: 16px;
}

.main-menu-item:not(.main-menu-active) > a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.main-menu-item:not(.main-menu-active) > a:focus {
  color: #333333;
  text-decoration: none;

  background-color: #ededed;
}

.main-menu-user button {
  margin-left: 10px;
  padding: 8px 16px;

  font-size: inherit;
  line-height: inherit;

  border: none;
}

button.btn-search {
  width: 32px;
  height: 32px;
  padding: 0;

  border-radius: 50%;
}

button.btn-login-form,
button.btn-basket {
  position: relative;
  padding-left: 45px;

  border-radius: 16px;
}

button.btn-login-form svg,
button.btn-basket svg {
  position: absolute;
  top: 6.5px;
  left: 16px;

  width: 21px;
  height: 19px;
}

.main-menu-user button:hover g {
  fill: #343434;
}

.catalog-menu,
.box-search,
.box-login-entry,
.basket-products {
  background-color: #f8f7f4;
}

.catalog-menu-item a {
  font-weight: 400;
  color: #323232;
}

.catalog-menu-item:first-child a {
  font-weight: 700;
}

.catalog-menu-item:not(.catalog-menu-active) > a:hover {
  color: #323232;

  background-color: #fbded7;
}

.catalog-menu-item:not(.catalog-menu-active) > a:focus {
  color: #323232;

  background-color: #f6b5a5;
}

.main-menu-active > a,
.catalog-menu-active > a {
  background-color: #d07058;
}

.main-menu-user .btn-search,
.main-menu-user .btn-login-form,
.main-menu-user .btn-basket {
  font-family: inherit;;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.main-menu-user .btn-search:hover,
.main-menu-user .btn-login-form:hover,
.main-menu-user .btn-basket:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.main-menu-user .search-field,
.main-menu-login .user-email,
.main-menu-login .user-password {
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #323232;

  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
}

.main-menu-user .search-field:hover,
.main-menu-login .user-email:hover,
.main-menu-login .user-password:hover {
  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.main-menu-user .search-field:focus,
.main-menu-login .user-email:focus,
.main-menu-login .user-password:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.box-login-entry {
  background-color: #f8f7f4;
}

.main-menu-login .btn-login-entry {
  font-size: 18px;
  line-height: 24px;
}

.help-registration a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.help-registration a:hover,
.help-registration a:focus {
  color: #ffbc9e;
}

.main-menu-basket .full-basket {
  font-weight: 500;
  color: #323232;

  background-color: #f7f6f3;
}

.main-menu-basket .basket-table-cell {
  line-height: 16px;
  color: #323232;
}

.cell-price span {
  color: #999999;
}

.basket-table-cell.basket-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.main-menu-basket .btn-checkout {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.working-hours {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.working-hours li:first-child {
  margin-bottom: 5px;
}

.phone {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sliders {	
  position: relative;
  padding-top: 270px;
  margin-bottom: 40px;
}

.slider-item {
  display: none;
	
  text-align: center;
}

.slider-item-active {
	display: block;
}

.slider-item img {
  width: 1045px;
  margin-left: -522.5px;
  margin-top: -392px;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.slider-item h3 {
  margin: 0;
  padding: 0 220px;
  margin-bottom: 25px;
  
  text-align: str
}

.slider-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.btn-slider {
  display: inline-block;
  padding: 10px 40px;
	
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
  border-radius: 31px;
}

.slider-control {
  position: absolute;
  left: 0;
  bottom: 20px;
}

.slider-control-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.btn-slider-control { 
  margin-right: 8px; 
  width: 20px;
  height: 20px;
  background: none;
  box-sizing: border-box;
  
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.btn-slider-control:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-slider-control:active {
  background-color: #ffffff;
}

.slider-control-active .btn-slider-control{
 background-color: #ffffff;
}

.stock-container  {
  margin-bottom: 40px;
}

.stock-container h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.stock-container p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.btn-stock {
  position: absolute;
  bottom: 22px;
  right: 22px;
  padding: 11px 22px;
	
  font-size: 18px;
  line-height: 24px;
  
  border-radius: 23px;
}

.stock-container-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stock-container-item {
  position: relative;
  width: 560px;

  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.stock-container-item:first-of-type {
  background-color: #b41944;
  background-image: url(../img/raspberry-bg.jpg);
}

.stock-container-item:last-of-type {
  background-color: #472817;
  background-image: url(../img/chocolate-bg.jpg);
}

.stock-container-item h3,
.stock-container-item p {
 margin: 16px 25px;
}

.stock-container-item p {
 margin-bottom: 113px;
}

.hits-container {
  margin-bottom: 40px;
}

.product {
  margin-bottom: 80px;
}

.hits-list,
.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
}

.hits-item,
.product-item {
  width: 267px;
}

.hits-item:hover,
.product-item:hover {
  background-color: #9bafa3;
}

.hits-item a,
.product-item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;

  text-align: center;
}

.hits-item a:hover,
.product-item a:hover,
.hits-item a:focus,
.product-item a:focus {
  color: #e84d37;
}

.hits-item-image img{
 width: 267px;
 height: 267px;
}

.hits-list span,
.product-list span {
  line-height: 45px;
  font-weight: 700;
}

.hits-list .hits-price,
.product-list .product-price {
  font-size: 45px;
}

.hits-list .hits-kilo,
.product-list .product-kilo {
  font-size: 30px;
}

.about-shop {
  margin-bottom: 40px;
  padding: 20px 25px;

  background-color: #efe5d1;
  background-image: url("../img/wafer.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.about-shop-headline {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
}

.about-shop-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  list-style: none;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.about-shop-item {
  width: 470px;
  margin-top: 25px;
  padding-left: 55px;
}

.blog {
  margin-bottom: 40px;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog-item {
  width: 520px;
  padding: 20px;
}

.blog-new {
  color: #323232;

  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/strawberry-bg.jpg");
}

.blog-new-headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-new-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}

.blog-new-link:hover,
.blog-new-link:focus {
  color: #ffbc9e;
}

.blog-subscription {
  background-color: #f8f7f4;
}

.blog-subscription-text {
  color: #5a5a5a;
}

.subscription-email {
  font-family: inherit;
  line-height: 24px;
  color: #323232;

  background-color: #ffffff;
  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
}

.subscription-email:hover {
  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.subscription-email:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.btn-subscription {
  font-size: 18px;
  line-height: 24px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.contacts {
  margin-bottom: 10px;
}

.contacts-map img {
  width: 100%;
  height: 430px;
}

.contacts-address {
  padding: 30px 25px;
  width: 303px;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
}

.contacts-address p {
  margin: 0;
  padding: 0;
}

.contacts-address strong,
.contacts-address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.btn-feedback {
  font-size: 18px;
  line-height: 24px;
}

.footer-social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-items {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-items a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.info-items a:hover,
.info-items a:hover {
  color: #ffbc9e;
}

.info-item:first-child a {
  font-weight: 700;
}

.footer-copyright span {
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.modal-feedback {
  background-color: #f8f7f4;
}

.modal-feedback h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}

.modal-feedback .feedback-name,
.modal-feedback .feedback-email,
.modal-feedback .feedback-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: #323232;

  border-color: rgba(178, 178, 178, 0.52);
  border-width: 1px;
}

.modal-feedback .feedback-name:hover,
.modal-feedback .feedback-email:hover,
.modal-feedback .feedback-text:hover {
  border-color: rgba(154, 154, 154, 0.52);
  border-width: 2px;
}

.modal-feedback .feedback-name:focus,
.modal-feedback .feedback-email:focus,
.modal-feedback .feedback-text:focus {
  border-color: rgba(46, 136, 228, 0.52);
  border-width: 2px;
}

.btn-modal-feedback {
  font-size: 18px;
  line-height: 24px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  display: flex;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-list a {
  color: #ffffff
}

.breadcrumbs-list a {
  text-decoration: underline;
}

.breadcrumbs-list a:hover,
.breadcrumbs-list a:focus {
  color: #ffbc9e;
}

.page-title {
  margin: 0;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
}

.sort-list {
  color: #ffffff;

  border: none;
  background-color: #9db1a5;
}

.sort-list:hover {
  color: #323232;
}

.product-filter {
  margin-bottom: 40px;
}

.filter-item  {
  display: flex;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-item ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list,
.filter-item label,
.btn-filter {
  font-size: 16px;
  line-height: 16px;
}

.btn-filter {
  font-weight: 500;
  color: #ffffff;

  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  background-color: #a6b7ad;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination {
  margin-bottom: 30px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
}

.pagination-item:not(.pagination-active):not(.pagination-disabled) a:hover {
  background-color: #9db1a5;
}

.pagination-item:not(.pagination-active):not(.pagination-disabled) a:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination-active a {
  color: #323232;

  background-color: #ffffff;
}